* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #4895ef;
  --secondary-color: #d3c3d1;
  --tertiary-color: #7209b7;
}
body {
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../img/hero-banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
header a {
  text-decoration: none;
  color: var(--secondary-color);
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

section {
  padding: 60px;
}